* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* Прижатие footer к низу */

.wrapper {
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

/*  Задаем границу контенту */

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* Верх главной страницы */

.header {
    background-image: url(../img/fon_header.jpg);
    max-height: 689px;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    background-image: url(../img/On_hover.png);
    background-repeat: no-repeat;
    background-position-x: -20px;
    padding-bottom: 20px;
}

.list__nav__header {
    display: flex;
    list-style-type: none;
}

.liss__list__nav__header {
    padding-left: 60px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #490C3C;
}

.liss1nav__header {
    padding-left: 0;
}

/* .logo__nav__header {
    position: relative;
} */

.link__liss__list__nav__header {
    text-decoration: none;
}

.link__liss__list__nav__header1 {
    color: #FFFFFF;
    /* position: absolute; */
    right: 20px;
}

.reg__nav__header {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #490C3C;
}

.logo__header {
    margin-top: 120px;
    height: 121px;
    /* background-image: url(../img/logo_header.svg); */
}

.btn__containert__header {
    padding: 60px 0 250px 0;
    display: flex;
}

.btn__reg__header {
    width: 214px;
    height: 65px;
    background: linear-gradient(95.27deg, #6B4185 0%, #4749A3 100%);
    border-radius: 4px;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: #4749A3;
}

.btn__door__header {
    width: 218px;
    height: 65px;
    margin-left: 58px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #6B4185;
    border: rgba(255, 255, 255, 0.75);
}

/* Конец верха главной страницы */

/* Середина главной страницы */

.section__all {
    background: linear-gradient(86.29deg, #FDD4F1 -7.65%, #D1BFF3 104.16%);
}

.container__section__all {
    display: flex;
    margin-top: 10px;
}

.text1__left__section__all {
    font-family: Philosopher;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #490C3C;
}

.text2__left__section__all {
    margin-left: 15px;
    font-family: Philosopher;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Начало контейнера с карточками */

.left_SALL {
    max-width: 770px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}

.main_card__left_SALL {
    max-height: 380px;
    padding: 210px 40px 40px 40px;
    background-image: url(../img/card/BG1.png);
    order: 0;
}

.main__date__card {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #CBD0D7;
}

.main__theme__card {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #CBD0D7;
    margin-left: 15px;
}

.main__title__card {
    margin-top: 5px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.main__text__card {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.minor_card {
    margin-top: 30px;
    padding: 115px 20px 20px 20px;
    max-width: 370px;
    background: linear-gradient(180deg, rgba(112, 71, 112, 0) 0%, #704770 100%);
}

.date__card {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #CBD0D7;
}

.theme__card {
    margin-left: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #CBD0D7;
}

.title__card {
    margin-top: 5px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.text__card {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    width: 330px;
}

.card2 {
    order: 2;
}

.card3 {
    order: 1;
}

.card4 {
    order: 4;
    margin-left: 30px;
}

.card5 {
    order: 3;
}

.ninja__left_SALL {
    order: 5;
    border-radius: 4px;
    padding: 50px 0 90px 0;
    max-width: 770px;
    background: url(../img/card/PICninja.png)no-repeat 425px 22px, url(../img/card/sakura.png) no-repeat 0 50px, url(../img/card/BG__fonninja.png) no-repeat 0 50px;
}

.card_couple__left_SALL {
    background-image: url(../img/card/BG2.png);
}

.card_nature__left_SALL {
    background-image: url(../img/card/BG3.png);
}

.card__ninja {
    width: 720px;
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 50px;
    border-radius: 4px;
}

.title__ninja {
    width: 420px;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(107, 65, 133, 1);
}

.text__ninja {
    margin: 20px 0 10px 0;
    width: 400px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #490C3C;
}

.link__ninja {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #BC9ABF;
    display: block;
    box-sizing: content-box;
}

.btn__ninja {
    background: linear-gradient(95.27deg, #6B4185 0%, #4749A3 100%);
    border-radius: 4px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 206px;
    height: 65px;
    border: #4749A3;
    margin-top: 20px;
}

.link__ninja:hover {
    color: #4749A3;
}

.btn__ninja:hover {
    background: linear-gradient(95.27deg, #6B4185 0%, #4749A3 100%);
    box-shadow: 0px 10px 30px rgba(88, 69, 148, 0.75);
}

.link__ninja:active {
    color: #490C3C;
}

.btn__ninja:active {
    background: linear-gradient(95.27deg, #37144D 0%, #1C1E6B 100%);
}

/* Конец контейнера с карточками */

.right__section__all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
}

.card1__right__section__all {
    width: 370px;
    height: 112px;
    background: linear-gradient(91.71deg, rgba(121, 119, 231, 0.85) -7.61%, rgba(193, 99, 255, 0.85) 109.72%);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.info_card1 {
    font-family: Philosopher;
    font-weight: bold;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
   
}

.number_card1 {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.text_card1 {
    font-size: 18px;
    line-height: 20px;
    width: 82px;
    margin-left: 15px;
}

.card2__right__section__all {
    width: 175px;
    height: 74px;
    background: linear-gradient(91.71deg, rgba(4, 190, 254, 0.85) -7.61%, rgba(68, 129, 235, 0.85) 109.72%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.card3__right__section__all {
    width: 175px;
    height: 74px;
    background: linear-gradient(91.71deg, rgba(4, 190, 254, 0.85) -7.61%, rgba(68, 129, 235, 0.85) 109.72%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.info_card2_3 {
    font-family: Philosopher;
    font-weight: bold;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.number_card2_3 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.text_card2_3 {
    font-size: 14px;
    line-height: 14px;
 
}


.card4__right__section__all {
    width: 370px;
    height: 545px;
}

.CatalogET {
    display: flex;
    font-family: Philosopher;
}

.btnIcon__CatalogET {
    margin-top: 15px;
    clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
    width: 110px;
    height: 65px;
    background: linear-gradient(95.27deg, #6B4185 0%, #4749A3 100%);
    border-radius: 4px;
    border: #4749A3;
    box-sizing: border-box;
}

.btnIconSword {
    margin-top: 0;
}

.img__Catalog__EventsTable {
    margin-left: -33px;
}

.btnText__CatalogET {
    margin-top: 15px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12% 100%);
    width: 285px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(195, 166, 198, 0.35);
    border-radius: 4px;
    margin-left: -29px;
    border: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.03em;
    box-sizing: border-box;
    color: #4749A3;
    text-align: start;
    padding-left: 35px;
}

.btnTextSword {
    margin-top: 0;
}

.btnIcon__CatalogET:hover {
    background: #FFFFFF;
}

.btnText__CatalogET:hover {
    background: linear-gradient(95.27deg, #6B4185 0%, #4749A3 100%);
    color: #FFFFFF;
}

.btnText__CatalogET:active {
    background: linear-gradient(95.27deg, #37144D 0%, #1C1E6B 100%);
    color: #FFFFFF;
}

.card5__right__section__all {
    width: 370px;
    height: 467px;
    background: #C4C4C4;
    border-radius: 4px;
}

.spisok {
    list-style-type: none;
}